.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.danger {
  font-size: 20px;
  font-weight: bold;
  color: red;
}
.input {
  font-size: large;
  height: 40px;
  border-radius: 5px;
}
.container {
  width: 250px;
}
.center {
  display: flex;
  flex-direction: column;
  align-items: center;
}